<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <shutdownHook/>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} %-5level %class - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./log/template.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>./log/template.log.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
    <encoder>
      <pattern>%date{ISO8601} %-5level %class - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="stdout" />
    <appender-ref ref="file"/>
  </root>
</configuration>
